pandas~=1.3.4
requests~=2.26.0
tinydb~=4.5.2
requests-html
pymongo~=3.12.0
# plotly
# pillow
# httpimport
# peewee
# pymongo
# chart_studio
# lxml
# html5lib
# notebook
# nest_asyncio
# wget
bs4~=0.0.1
beautifulsoup4~=4.10.0